a{
    text-decoration: none !important;
}
.mb_70{
    margin-bottom: 70px;
}
body .btn_black{
    background-color: black;
    color: white;
    border: none;
}
.fa-times{
    color: black;
}
.text_center{
    text-align: center;
}
body .sign_btn{
    background-color: black;
    color: white;
}
.com_ava{
    width: 60px;
    border-radius: 50%;
}
.col_white{
    color: white;
}
body {
  background-color: #F1F1F0 !important;
}
.pad_bt_40{
    padding: 40px;
}
.max_body_w{
    max-width: 700px;
    overflow: hidden;
}
.edit:hover{
    color: #0056b3 !important;
}
.header{
    background-color: black !important;
}
footer {
  margin: 0 auto;
}
.auto{
    margin: 0 auto;
}
.padtb{
    padding: 20px 0;
}
.status_block{
    max-width: 980px;
    border-radius: 20px;
    padding: 20px 40px;
    position:relative;
    background-color: white;
}
.status_block:hover .del_cl{
    display: flex;
}

.del_cl{
    position: absolute;
    right: 0px;
    top: -9px;
    background-color: white;
    width: 24px;
    display: none;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
.status_body{
    background-color: #eaeaea;
    color: darkslategray;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
}
.desk_minh{
    min-height: 510px;
}
.login_style{
    background-color: black;
    border-radius: 8px;
}
body all ok.padtb h1, p, a, label, button{
    color: grey ;
}
.sibtn{
    width: 40%;
}
.marg_auto{
    margin: 0 auto;
}
.stat_img{
    width: 300px;
}
.font_24{
    font-size: 24px;
}
.font_12{
    font-size: 12px;
}
.friend_marg{
    margin-right: 15px;
}
.friend_marg:last-child{
    margin-right: 0;
}
.img_block{
    background-color: white;
    padding: 25px;
    border-radius: 5%
}
.ava_img{
    border-radius: 3%;
    width: 250px;
}
body .down_button{
    width: 130px;
    overflow: hidden;
}
body .pp_3{
    padding: 3px;
}
.align_end{
    align-items: end;
}
.friends_block{
    background-color: white;
    padding: 15px;
    border-radius: 10%;
}
.ac_st{
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10%;
}
.small_img{
    background-color: white;
    max-width: 250px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: whitesmoke;
    border-radius: 10%;
    padding: 15px;
}
.sm_im{
    margin-right: 10px;
    width: 60px;
    border-radius: 50%;
}
.black{
    color: black !important;
}
.home_block{
    max-width: 1000px;
    margin: 0 auto;
}
.center{
    max-width: 1000px;
    margin: 0 auto;
}
.messig_block{
    overflow: scroll;
    width: 252px;
    height: 250px;
    border: 1px solid #f5f3f3;
    padding: 15px;
    border-radius: 8px;
    overflow-x: hidden;
}
.mesige_inp{
    width: 100%;
    border-color: white;
    border: none;
    border: 1px solid #f5f3f3;
    border-radius: 5px;
    margin-bottom: 8px;
}
.mb_m3{
    margin-bottom: -3px;
}
.font_10{
    font-size: 10px;
}
.xiki_st{
    position: absolute;
    right: 3px;
    top: 0px;
    cursor: pointer;
}
.back_col_mes{
    background-color: #d6f1f1;
    padding: 10px;
    border-radius: 10px;
}
.stat_back_col{
    background-color: #d4e6e6;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}
.area_style{
    max-height: 44px;
    min-height: 44px;
    height: 46px;
}
